# editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space
indent_size = 4

[*.mk]
indent_style = tab

[*.md]
indent_style = space
indent_size = 4

[{*.json,*.yml,*.bowerrc,*.babelrc}]
indent_style = space
indent_size = 2
